<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NOTICE: All usernames and passwords are stored as plain text.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apple IDs. I am a lazy newbie and I hope you do not have more than 10 of them...</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_1</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_1</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_2</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_2</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.3</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_3</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_3</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.4</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_4</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_4</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_5</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_5</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.6</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_6</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_6</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.7</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_7</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_7</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.8</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_8</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_8</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.9</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_9</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_9</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>No.10</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Apple ID</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>isEmail</key>
			<true/>
			<key>key</key>
			<string>AppleId_10</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>placeholder</key>
			<string>Password</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>key</key>
			<string>Password_10</string>
			<key>defaults</key>
			<string>com.withoutcoffee.appleidpasswordfillerprefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Apple ID Password Filler</string>
</dict>
</plist>
